<app-alert [alertProps]="alertData"></app-alert>
<section class="accordions">
  <app-accordion [title]="accodeonData[0].title" [(open)]="accodeonData[0].isOpen" (onOpen)="accodeonData[1].isOpen = false">
    @if (!cameraMode) {
      <app-card-form
        [title]="userCardTags.title"
        [btnSave]="{ label: userCardTags.btnSave, allowed: userCardData.btnSaveAllowed }"
        [btnCancel]="{ label: userCardTags.btnCancel, allowed: userCardData.btnCancelAllowed}"
        (onSave)="saveUserCardData()"
        (onCancel)="clearUserCardData()">
        <ui-input
          [label]="'Identification'"
          [(value)]="userCardData.user.id"
          [regex]="regex.id"
          [maxLength]="10"
          [validations]="validations.id"
          (valueChange)="validateUserCardData()" />
        <ui-input
          [label]="'First name'"
          [(value)]="userCardData.user.firstName"
          [regex]="regex.name"
          [validations]="validations.name"
          (valueChange)="validateUserCardData()" />
        <ui-input
          [label]="'Last name'"
          [(value)]="userCardData.user.lastName"
          [regex]="regex.name"
          [validations]="validations.name"
          (valueChange)="validateUserCardData()" />
        <app-input-whit-camera
          [(file)]="userCardData.user.photo"
          (fileChange)="validateUserCardData()"
          (onCamara)="openCamera()" />
      </app-card-form>
    }
    @else {
      
    }
  </app-accordion>
  <app-accordion [title]="accodeonData[1].title" [(open)]="accodeonData[1].isOpen" (onOpen)="deployUsers()" (onClose)="usersList = []">
    <app-loading [show]="usersListLoading"></app-loading>
    @if (!usersListLoading) {
      @if (usersList.length > 0) {
        <section #usersGrupId class="users-cards-grup">
          @for (userItem of usersList; track $index) {
            <app-card-user [userItem]="userItem"></app-card-user>
          }
        </section>
      }
      @else {
        <p>No users found</p>
      }
    }
  </app-accordion>
</section>
