<app-card-form
  [title]="userCardTags.title"
  [btnSave]="{ label: userCardTags.btnSave, allowed: userCardData.btnSaveAllowed }"
  [btnCancel]="{ label: userCardTags.btnCancel, allowed: userCardData.btnCancelAllowed}"
  (onSave)="saveUserCardData()"
  (onCancel)="clearUserCardData()">
  <ui-input
    label="Name"
    [(value)]="userCardData.user.name"
    (valueChange)="validateUserCardData()" />
  <ui-input
    label="Identification"
    [(value)]="userCardData.user.id"
    (valueChange)="validateUserCardData()" />
  <ui-picker
    [(file)]="userCardData.user.photo"
    (fileChange)="validateUserCardData()" />
</app-card-form>
