details[comp="app-accordion"] {
  border: 1px solid #ccc;
  border-radius: 4px;
}

  details[comp="app-accordion"] summary {
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-secondary);
    padding: var(--margin);
  }

  details[comp="app-accordion"] summary:hover {
    text-decoration: underline;
  }

  details[comp="app-accordion"] > section.summary-content {
    padding: 0px var(--margin) var(--margin) var(--margin);
  }