<app-alert [alertProps]="alertData"></app-alert>
@if (!cameraMode) {
  <app-card-form
    [title]="'Validate Card'"
    [btnSave]="{ label: 'Validate', allowed: isButtonEnable }"
    [btnCancel]="{ label: '', allowed: false, hidden: true }"
    (onSave)="onSaveBtn()">
    <!--<ui-picker [(file)]="photo" />-->
    <app-input-whit-camera [(file)]="photo" (fileChange)="validateButton()" (onCamara)="alterCamera(true)" />
  </app-card-form>
}
@else {
  <app-camera [(file)]="photo" (fileChange)="alterCamera(false)"></app-camera>
}