<section comp="app-layout">
  <header class="vento-background">
    <h1>Face Recon</h1>
  </header>
  <nav class="vento-background">
    <ul>
      <li>
        <a routerLink="home">Home</a>
      </li>
      <li class="bar">
        <span>|</span>
      </li>
      <li>
        <a routerLink="users">Users</a>
      </li>
      <li class="bar">
        <span>|</span>
      </li>
      <li>
        <a routerLink="validate">Validate</a>
      </li>
    </ul>
  </nav>
  <main class="vento-background">
    <section class="content">
      <ng-content></ng-content>
    </section>
  </main>
  <footer class="vento-background">
    <p>By</p>
    <p>Front: Leonardo Aguado Diaz</p>
    <p>Back: Jorge Ivan Grandett</p>
  </footer>
</section>
