.snap-container {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.list-unstyled {
  list-style: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.thumbnail, .btn {
  cursor: pointer;
}
