<article comp="app-card-form">
  <header>
    <h2>{{title}}</h2>
  </header>
  <main>
    <ng-content></ng-content>
  </main>
  @if (!btnCancel.hidden) {
    <footer>
      <ui-button
        [label]="btnSave.label"
        [isActive]="btnSave.allowed"
        (onClick)="save()" />
      <ui-button
        [label]="btnCancel.label"
        [isActive]="btnCancel.allowed" 
        (onClick)="cancel()" />
    </footer>
  }
  @else {
    <footer class="single">
      <ui-button
        [label]="btnSave.label"
        [isActive]="btnSave.allowed"
        (onClick)="save()" />
    </footer>
  }
</article>