section[comp="app-health"] {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

  section[comp="app-health"] > article {
    padding: var(--margin);
    border-radius: var(--margin);
    background-color: white;
    max-width: 90%;
    max-height: 90%;
  }

    section[comp="app-health"] > article > header > h2.header-title-error {
      color: red;
    }

  section[comp="app-health"] > article > main {
    text-align: center;
  }

    section[comp="app-health"] > article > main >  p {
      color: black;
    }

    section[comp="app-health"] > article > main > button {
      margin-top: var(--margin);
      height: 50px;
      border: none;
      width: 200px;
      border-radius: var(--margin);
      font-size: 1.2rem;
      background-color: black;
      font-family: monospace;
      cursor: pointer;
    }